.users-list {
    max-width: 1000px;
}

.user-card {
    text-align: center;
    border-radius: 10px;
    border: none;
    transition: .15s ease-in-out;
    font-family: sans-serif;
}
.user-card:focus {
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

.user-card header {
    border-radius: inherit;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: lightblue;
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: var(--bs-body-color);
    border: 3px solid var(--bs-body-color);
    border-bottom: none;
}
.user-card main {
    border-radius: inherit;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: blue;
    font-size: 1.1rem;
    padding: 5px;
    color: white;
    border: 3px solid black;
    border-top: none;
}
